@page "/test"

<h3>Test</h3>

<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<button class="btn btn-primary" @onclick="Register">회원가입</button>
			<button class="btn btn-primary" @onclick="Login">로그인</button>
			<button class="btn btn-primary" @onclick="ShowMoney">계좌보기</button>
		</div>

		<div class="col-12">
			<h3>facewallet</h3>
			<button class="btn btn-primary">FaceWallet 로그인</button>
		</div>

		<div class="col-12 mt-3">
			
			<h3>계정 주소</h3>
			<div>@_walletAddress</div>
			<h3>계정 토큰</h3>
			<div>@_coinBalance</div>

		</div>
	</div>
</div>